      <div class="row">
        <section class="main col-md-12">
          <article>
          <h2>About</h2>
          <p>This is a web application which is designed for HR department.
          When ID is admin, you have full access to the app. Otherwise, your access is limited where you cannot see the salary, remove or add a employee.</p>
          <div class="table-responsive">
              <table class="table">
                  <thead>
                    <tr>
                        <th>userID</th>
                        <th>password</th>
                        <th>access</th>
                    </tr>
                  </thead>
                    <tbody>
                        <tr>
                          <td>AdminUser</td>
                          <td>password1</td>
                          <td>full access</td>
                        </tr>
                        <tr>
                          <td>TestUser</td>
                          <td>password2</td>
                          <td>limited access</td>
                        </tr>
                    </tbody>
              </table>
            </div>
          </article>
        </section>
      </div>
