      <div class="row">
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>I'll be adding some new features as time goes. </p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome</h2>
          <p>Welcome to my app. Thank you for visiting the app. This is an app called HR system app. Hope you'll enjoy exproring it!</p>
          </article>
        </section>
      </div>